<div class="dashboardcenter">
    <h2 class="dashboard-title">NM Branch Screen Manager</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-3 dash-item">
                <a routerLink="/admin/branchlist" class="dashboardbox_item">
                    <div class="dash-block">
                        <i class="fas fa-code-branch"></i>
                        <h4>
                            Branches
                        </h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 dash-item">
                <a routerLink="/admin/locationlist" class="dashboardbox_item">
                    <div class="dash-block">
                        <i class="fas fa-map-marker-alt"></i>
                        <h4>
                            Locations
                        </h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 dash-item">
                <a routerLink="/admin/grouplist" class="dashboardbox_item">
                    <div class="dash-block">
                        <img src="assets/image/group.png" alt>
                        <h4>
                            Branch groups
                        </h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 dash-item">
                <a routerLink="/admin/currencyList" class="dashboardbox_item">
                    <div class="dash-block">
                        <i class="fas fa-euro-sign"></i>
                        <h4>
                            Currencies
                        </h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 dash-item">
                <a routerLink="/admin/stats" class="dashboardbox_item">
                    <div class="dash-block">
                        <i class="far fa-chart-bar"></i>
                        <h4>
                            Reports
                        </h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 dash-item">
                <a routerLink="/admin/screensizelist" class="dashboardbox_item">
                    <div class="dash-block">
                        <i class="fas fa-laptop-code"></i>
                        <h4>
                            Screen Sizes
                        </h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 dash-item">
                <a routerLink="/admin/imageGallery" class="dashboardbox_item">
                    <div class="dash-block">
                        <i class="fas fa-camera"></i>
                        <h4>
                            Image library
                        </h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 dash-item">
                <a routerLink="/admin/userlist" class="dashboardbox_item">
                    <div class="dash-block">
                        <i class="fas fa-user-friends"></i>
                        <h4>
                            Users
                        </h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- <button (click)='RedirectToScreen()' >GetScreens</button> -->