<swiper [config]="config">
    <div class="swiper-wrapper">
            {{status}}
        <div class="swiper-slide" *ngFor="let screen of returnedScreens">
            <!-- Id:Number;
    ScreenName:string;
    ScreenType:string;
    FeatureColour:string;
    Title:string;
    SubTitle:string;
    CurrencyCode:number;
    ScreenOrder:number;
    BackgroundImage:string;
    HtmlCode:string;
    CurrencyFirst:number;
    CurrencyTwo:number;
    CurrencyThree:number;
    CurrencyFour:number;
    CurrencyFive:number;
    Image:string;
    ScreenFalg:number;
    CurrencySymbol:string;
    IsActive:boolean; 
    CurrencyFirstSymbol:string;	
    CurrencyTwoSymbol:string;	
    CurrencyThreeSymbol:string;	
    CurrencyFourSymbol:string;	
    CurrencyFiveSymbol:string;   
  -->
            <div *ngIf="(screen.ScreenType) == '1'" class="banner_image full_screen bg_fullx" [ngStyle]="{'background-image': 'url(' + screen.BackgroundImageUrl + ')'}">
                <div class="container-fluid h-100">
                    <div class="row align-items-end h-100">
                        <div class="col-md-6 text-center text-md-left pl-4">
                            <div class="banner_content">
                                <img src="assets\front\images\logo_white.png" alt="logo" />
                            </div>
                        </div>
                        <div class="col-md-6 text-center pr-4">
                            <div class="pink_box mex_box">
                                <span class="money_sy"> {{screen.CurrencySymbol}}</span>
                                <h2> {{screen.Title}} </h2>
                                <p> {{screen.SubTitle}} </p>
                                <a routerLink="../currencyconvert" class="btn btn-default btn-border"> get started </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="(screen.ScreenType) == '2'" class="gray_bg2 nm_money_content small_padding bg_fullx">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8 text-center">
                            <!-- <div class="heading_title2">
                                <h2>why nm money?</h2>
                            </div>
                            <div class="money_content">
                                <div [innerHTML]="screen.HtmlCode"> </div>
                                <p> <a href="#" class="call_link">03330 583 859</a> or <a
                                        class="call_link border_bottom" href="#">request a call back.</a> </p>
                            </div> -->
                            <div [innerHTML]="screen.HtmlCode  | safe: 'html'
                            "> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="(screen.ScreenType) == '3'" class="banner_image full_screen pb-0 bg_fullx" [ngStyle]="{'background-image': 'url(' + screen.BackgroundImageUrl + ')'}">
                <div class="container-fluid h-100">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="currency_box">
                                <li *ngIf="IsFirst">
                                    <div class="pink_box pt-20  text-center">
                                        <span class="money_sy"> {{RateFirst}}</span>
                                        <span class="currency-flag currency-country-sprite Euro-Zone" [ngStyle]="{'background-image': 'url(' + FlagFirst + ')'}">
                                        </span>
                                        <span class="currency-name"> {{screen.CurrencyFirstSymbol}} </span>
                                        <p class="currency_place"> &pound;1,000 = {{ExchangeRateFirst}}* </p>
                                    </div>
                                </li>
                                <li *ngIf="IsSecond">
                                    <div class="pink_box pt-20  text-center">
                                        <span class="money_sy"> {{RateSecond}} </span>
                                        <span class="currency-flag currency-country-sprite USA" [ngStyle]="{'background-image': 'url(' + FlagSecond + ')'}"></span>
                                        <span class="currency-name"> {{screen.CurrencyTwoSymbol}} </span>
                                        <p class="currency_place"> &pound;1,000 = {{ExchangeRateSecond}}* </p>
                                    </div>
                                </li>
                                <li *ngIf="IsThird">
                                    <div class="pink_box  pt-20 text-center">
                                        <span class="money_sy"> {{RateThird}} </span>
                                        <span class="currency-flag currency-country-sprite AUD" [ngStyle]="{'background-image': 'url(' + FlagThird + ')'}"></span>
                                        <span class="currency-name"> {{screen.CurrencyThreeSymbol}} </span>
                                        <p class="currency_place"> &pound;1,000 = {{ExchangeRateThird}}* </p>
                                    </div>
                                </li>
                                <li *ngIf="IsFour">
                                    <div class="pink_box pt-20  text-center">
                                        <span class="money_sy"> {{RateFour}} </span>
                                        <span class="currency-flag currency-country-sprite ILS" [ngStyle]="{'background-image': 'url(' + FlagFour + ')'}"> </span>
                                        <span class="currency-name"> {{screen.CurrencyFourSymbol}}</span>
                                        <p class="currency_place"> &pound;1,000 = {{ExchangeRateFour}}* </p>
                                    </div>
                                </li>
                                <li *ngIf="IsFive">
                                    <div class="pink_box pt-20 text-center">
                                        <span class="money_sy"> {{RateFive}} </span>
                                        <span class="currency-flag currency-country-sprite AED" [ngStyle]="{'background-image': 'url(' + FlagFive + ')'}"></span>
                                        <span class="currency-name"> {{screen.CurrencyFiveSymbol}} </span>
                                        <p class="currency_place"> &pound;1,000 = {{ExchangeRateFive}}* </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row bottom_box">
                        <div class="col-md-12">
                            <div class="tra_box_white">
                                <div class="banner_cta">
                                    <div class="heading_title2 mb-4">
                                        <h2 class="m-0"> how much will i get? </h2>
                                        <p> *Rates based on £1,000 spend. Branch rates may vary. T's & C's apply. </p>
                                        <img src="assets\front\images\logo_blue.png" class="logo_img" alt="logo" />
                                    </div>
                                    <a routerLink="../currencyconvert" class="btn btn-default btn-border btn-button"> get
                                        started </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="(screen.ScreenType) == '4'" class="gray_bg2 nm_money_content">
                <div class="container-fluid">
                    <div class="row">
                        <img src="{{screen.BackgroundImageUrl}}" style="width: 100%; height: 1080px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <!---   <div class="swiper-pagination"></div>-->
    <!---  Add Arrows -->
    <!---   <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>    --->


</swiper>