<div class="dashboardcenter">
    <h2 class="dashboard-title">Image Gallery</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-2 dash-item">
                <div class="fileUpload btn_height btn btn-primary">
                    <span>Upload Image</span>
                    <input type="file" id="bgImage" name="bgImage" accept="image/*" (change)="fileChange($event)"
                        [(ngModel)]="bgImage" value="Upload" class="upload" />
                </div>
            </div>
            <div class="col-md-3">

                <button class="btn btn-danger" style="margin-top: 7px;" (click)="DeleteImages()">Delete Selected
                    Images</button>
            </div>
            <div class="col-md-3  ">
                <span class="text-success" *ngIf="errorMessagedisplay">{{errorMessage}}</span>
            </div>
        </div>
        <div class="row" id="lightgallery">
            <div class="col-md-2  box" *ngFor="let item of galleryImagesListPaged"> <input type="checkbox"
                    (click)="setValueInArray(item)" name="checkbox1" class="checkSelected" id={{item.Id}} />
                <!-- <a [href]="item.small"> -->
                <img class="imageZoom" [imageZoom]="item.small" [src]="item.small">
                <!-- </a> -->
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <pagination id="pagination" [maxSize]="15" [itemsPerPage]="15" [totalItems]="totalItems" (pageChanged)="pageChanged($event)">
            </pagination>
        </div>
    </div>
</div>