<div class="dashboardcenter">
    <h2 class="dashboard-title">{{BranchName}}</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-3 dash-item">
                <a routerLink="/admin/branchscreenlist/{{BranchId}}" class="dashboardbox_item">
                    <div class="dash-block">
                        <i class="fas fa-camera"></i>
                        <h4>
                            Screens
                        </h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 dash-item">
                <a routerLink="/admin/branchslides/{{BranchId}}" class="dashboardbox_item">
                    <div class="dash-block">
                        <i class="fas fa-images"></i>
                        <h4>
                            Slides
                        </h4>
                    </div>
                </a>
            </div>

            <div class="col-md-3 dash-item">
                <a routerLink="/admin/imageGallery/{{BranchId}}" class="dashboardbox_item">
                    <div class="dash-block">
                        <i class="fas fa-camera"></i>
                        <h4>
                            Image library
                        </h4>
                    </div>
                </a>
            </div>

            <!---    <div class="col-md-3 dash-item">
                <a routerLink="/admin/stats/{{BranchId}}" class="dashboardbox_item">
                    <div class="dash-block">
                        <i class="far fa-chart-bar"></i>
                        <h4>
                            Reports
                        </h4>
                    </div>
                </a>
            </div> ---->

            <!-- <div class="col-md-3 dash-item">
                <a routerLink="/admin/branchscreensize/{{BranchId}}" class="dashboardbox_item">
                    <div class="dash-block">
                        <i class="fas fa-laptop-code"></i>
                        <h4>
                            Screen Sizes
                        </h4>
                    </div>
                </a>
            </div> -->

            <!----   <div class="col-md-3 dash-item">
                <a routerLink="/admin/branchuserlist/{{BranchId}}" class="dashboardbox_item">
                    <div class="dash-block">
                        <i class="fas fa-user-friends"></i>
                        <h4>
                            Users
                        </h4>
                    </div>
                </a>
            </div> --->
        </div>
    </div>
</div>