<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Click And Close</h4>
        <button type="button" class="close" aria-label="Close" (click)="CloseModelWithLastValue()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="text" [(ngModel)]="term">
        <div class="row6">
            <div *ngFor='let v of galleryImages|filter:term' class="col-md-3 dash-item gallery">
                <img src='{{v.ImageUrl}}' id="{{v.Id}}" (click)="SelectedImage($event)" class="img-responsive {{SelectedImageView}}" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="CloseModelWithLastValue()">Close</button>
    </div>
</ng-template>

<div class="wrap2">
    <div class="container">
        <div class="col-md-12">
            <div class="back-close">
                <span class="back-icon1"><a href="javascript:history.go(-1)">
                        <svg aria-hidden="true" data-prefix="far" data-icon="arrow-left" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                            class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x">
                            <path fill="currentColor"
                                d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z"
                                class=""></path>
                        </svg>
                    </a></span>
                <span class="close-icon"><a href="javascript:history.go(-1)"><img src="assets/image/close.png"></a></span>
            </div>

        </div>
        <div class="row form1">
            <div class="col-md-12">
                <div class="">
                    <p class="form-title">{{title}}</p>
                </div>

                <form (ngSubmit)="AddGroup()" novalidate #custForm='ngForm'>
                    <div class="form-group row">
                        <span class="text-success" *ngIf="errorMessagedisplay">{{errorMessage}}</span>
                    </div>

                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label"> Group Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Name" [ngModel]="GroupName" maxlength="g00" name="GroupName" required aria-describedby="nameHelp" placeholder="Enter Group Name" />

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label"> Description:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Name" [ngModel]="Description" maxlength="g00" name="Description" required aria-describedby="nameHelp" placeholder="Enter Description" />

                        </div>
                    </div>
                </form>
            </div>

            <div class="table-responsive table-bordered admin-table">
                <table class="table admin-table">
                    <thead>
                        <tr class="admin-table-head">
                            <th>Select</th>
                            <th>Branch Code</th>
                            <th>Branch Name</th>
                            <th>Area</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let branch of returnedBranches" class="white-row">
                            <td>
                                <label class="container"> 
                                        <input type="checkbox" id="{{branch.BranchId}}" [checked]="branch.Selected=='1'" (change)="checkValue(branch.BranchId)"/>
                                         <span *ngIf="marked">checked</span><span *ngIf="!marked"></span>
                                        
                                          <span class="checkmark"></span>
                                        </label>
                            </td>
                            <td>{{branch.BranchCode}}</td>
                            <td>{{branch.BranchName}}</td>
                            <td>{{branch.Location}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group row submit-btn">
                <label for="Add" class="col-sm-12 col-form-label">&nbsp;</label>
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary sb-btn" (click)=AddGroup()> 
                        Save Group</button>
                </div>
            </div>