@media only screen and (max-width: 1600px) {
	.currency_box .pink_box .money_sy {
		font-size: 50px;
		margin-top: -15px;
	}
	.currency_box .currency_place {
		font-size:20px;
	}
@media only screen and (max-width: 1440px) {
	.currency_box .pink_box .money_sy {
		font-size: 40px;
		margin-top: -10px;
	}
	.currency_box .currency_place {
		font-size: 22px;
	}
	.currency_box .pink_box {
		padding:19px;	
	}
	.currency-name {
	    top: -4px;
        font-size: 30px;
	}
	
}
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 1199px) {
.btn-default {
    padding: 8px 20px;
}
.navbar-default .navbar-nav li a {
    margin-left: 10px;
    font-size: 16px;
}
.navbar-default .btn-default {
	padding: 8px 15px;
}
.banner_content h1 {
    font-size: 48px;
}
.call_text {
    font-size: 36px;
    margin: 20px 0 20px 0;
}
.banner_image {
    background-position: 15% center;
}
.box_wrap {
    padding: 0px;
}
.cl_box h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.mortgages_table .table th {
    padding: 10px;
}
.mortgages_table sup {
    font-size: 13px;
}
.mortgages_table .btn_primary {
    padding: 5px 12px;
    font-size: 12px;
}
.mortgages_table .table th {
    white-space: nowrap;
	width: 100%;
}


.pink_box .money_sy { color: #fff;  font-size: 80px; line-height: normal;  margin-bottom: 20px; display: block;}
.pink_box h2 {font-size: 30px; margin-bottom: 10px;}
.pink_box p { font-size: 18px; margin-bottom: 30px;}

.currency_box .pink_box { padding: 20px;}
.currency_box li {padding:0 10px;}
.currency_box .pink_box .money_sy { font-size: 30px;}
.currency_box .currency-country-sprite {width: 42px; height: 26px; border: 2px solid #fff;}
.currency-name { top: -6px; font-size: 22px; margin-left: 5px;}
.currency_box .currency_place { font-size: 16px;}



}
@media only screen and (max-width: 1023px) {
.logo {
    width: 150px;
    margin-top: 5px;
}
}
@media (min-width: 992px) {
.navbar-collapse {
	width: auto;
	border-top: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar-collapse.collapse {
	display: block;
}
.navbar-collapse.in {
	overflow-y: visible;
}
.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}
.navbar-nav > li {
    float: left;
}

}
@media only screen and (max-width: 991px) {
.banner_content h1 {
    font-size: 36px;
}
.banner_content p {
    font-size: 16px;
}
.banner_content .btn-default {
    font-size: 20px;
}
section {
    padding: 80px 0;
}
section.small_padding,
footer {
    padding: 40px 0;
}
.heading_title h2 {
    font-size: 32px;
}
.heading_title2 h2 {
	font-size: 38px;
}
.heading_title3 h2 {
    font-size: 26px;
}
.money_content p {
    font-size: 16px;
    line-height: 30px;
}
.box_wrap h3 {
    font-size: 20px;
	margin-bottom: 10px;
}
.box_wrap img, .box_wrap p {
    margin-bottom: 20px;
}
.footer_title {
    font-size: 16px;
}
.navbar {
    padding: 15px 0 15px 15px;
}
header {
    box-shadow: 0 1px 7px rgba(0,0,0,0.2);
    position: relative;
}
.mortgage_advice_wap {
    background-position: 70% center;
}
.key_content h4 {
	font-size: 20px;
	margin-bottom: 10px;
}
.contact_box .contact_box_inner {
    padding: 50px;
}
.borrow_form {
    max-width: 100%;
    margin: 30px auto 10px;
}
.borrow_up h3 {
    margin: 30px 0 20px;
}
}

@media only screen and (max-width: 767px) {

.mobile_image_none {
	background-image: none !important;
}
.banner_image,
section {
    padding: 50px 0;
}
section.small_padding,
footer {
    padding: 25px 0;
}
.brand_logo_wrap {
    padding: 30px 25px;
}
.heading_title h2 {
    font-size: 26px;
	margin-bottom: 20px;
}
.heading_title2 h2 {
	font-size: 32px;
	margin-bottom: 20px;
}
.heading_title3 h2 {
    font-size: 24px;
}
.cl_box {
    margin-top: 20px;
}
.bb_mortgages_table {
	margin-top:15px;
}
.bb_mortgages_table h3 {
    font-size: 18px;
}
.footer_title {
    margin-bottom:10px;
}
.footer_menu li {
    padding: 0 7px;
}
.middle_footer {
    padding: 20px 0;
}
.request_form {
    max-width: 100%;
}
.contact_box .contact_box_inner {
    padding: 30px;
}
.borrow_up h3 {
    font-size: 26px;
    padding: 15px;
}
.borrow_form button {
    font-size: 20px;
    padding: 5px 20px;
}
.borrow_form {
   margin: 10px auto 10px;
}



.full_screen {height:auto;}
.mex_box { float: none; margin: 0 auto; margin-top: 30px;}

.bottom_box {position:relative;}
.tra_box_white {margin: 0 -15px; margin-top: 30px; padding: 50px 15px;}
.currency_box li { width: 33.33%;  margin-bottom: 20px;}
.tra_box_white .banner_cta {display:block; text-align: center;}

}

@media only screen and (max-width: 575px) {
.box_wrap img {
    max-width: 50px;
}
}
@media only screen and (max-width: 480px) {
.cl_box p {
    margin-bottom: 15px;
}
.logo {
    width: 120px;
	margin:0;
}
.navbar-default .btn-default {
    padding: 6px 12px;
    font-size: 12px;
}
.navbar-btn {
	margin-top: 12px;
}
.contact_box .contact_box_inner {
    padding: 20px;
	border-radius: 30px;
}
.contact_box_inner p {
    line-height: 22px;
    font-size: 14px;
}
.form-control-cust [class*=col-],
.borrow_form [class*=col-] {
	padding: 0;
}
.deal_start > span {
    margin-right: 0;
}
.deal_start .btn_light {
	display: inline-block;
	margin-top: 10px;
}
.borrow_up h3 {
    font-size: 22px;
}


.currency_box li { width: 50%;  margin-bottom: 20px;}

}
@media only screen and (max-width: 380px) {

.banner_content h1 {
    font-size: 26px;
	margin-bottom: 10px;
}
.call_text {
    font-size: 26px;
    margin: 10px 0 10px 0;
}
.banner_content .btn-default {
    font-size: 18px;
}
.heading_title h2,
.heading_title2 h2,
.heading_title3 h2 {
    font-size: 22px;
	margin-bottom: 10px;
}
.box_wrap h3 {
    font-size: 18px;
}
.money_content p {
    font-size: 15px;
}
.cl_box h3 {
    font-size: 18px;
}
.bb_mortgages_table h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
.bb_mortgages_table p {
	font-size: 14px;
}
.mortgage_advice_wap p {
    line-height: 26px;
}
.key_content h4 {
	font-size: 18px;
}

.currency_box li { width: 100%;  margin-bottom: 20px;}

}


