<section class="screen_height">
  <div class="container">
    <div>
      <div class="head_blue2">
        <div class="">
          <h2>today’s special rates</h2>
        </div>
      </div>
      <div class="white_box">
        <div class="row">
          <div class="col-md-6">
            <div class="blue-hight padding_30">
              <h5>Country</h5>
              <div class="country dark_light" *ngFor="let currencyRate of currencyRates">
                <h2>{{currencyRate.CURRCODE}}</h2>
                <img src="{{currencyRate.Flags}}">
              </div>
              <!-- <div class="country dark_light">
                <h2>USA</h2>
                <img src="img/USA.png">
              </div>
              <div class="country dark_light">
                <h2>AUSTRALIA</h2>
                <img src="img/AUSTRALIA.png">
              </div>
              <div class="country dark_light">
                <h2>CANADA</h2>
                <img src="img/CANADA.png">
              </div>
              <div class="country dark_light">
                <h2>CZECH REPUBLIC</h2>
                <img src="img/CZECH REPUBLIC.png">
              </div>
              <div class="country dark_light">
                <h2>MEXICO</h2>
                <img src="img/MEXICO.png">
              </div>
              <div class="country dark_light">
                <h2>SOUTH AFRICA</h2>
                <img src="img/SOUTH AFRICA.png">
              </div>
              <div class="country dark_light">
                <h2>SWITZERLAND</h2>
                <img src="img/SWITZERLAND.png">
              </div>
              <div class="country dark_light">
                <h2>TURKEY</h2>
                <img src="img/TURKEY.png">
              </div>
              <div class="country dark_light">
                <h2>UAE</h2>
                <img src="img/UAE.png">
              </div> -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="blue-hight">
              <h5 class="text-center"> Improved
                Sell Rate

              </h5>
              <div class="country dark_light"  *ngFor="let currencyRate of currencyRates">
                <h2 class="text-center">{{currencyRate.SpecialSellRate}}</h2>
              </div>
              <!-- <div class="country dark_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country dark_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country dark_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country dark_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country dark_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country dark_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country dark_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country dark_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country dark_light">
                <h2 class="text-center">1.2345</h2>
              </div> -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="blue-hight ">
              <h5 class="text-center">When you buy
                a minimum of</h5>
              <div class="country dark_light"*ngFor="let currencyRate of currencyRates">
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-left">{{currencyRate.SpecialSellAmount}}</h2>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-right">{{currencyRate.CURRCODE}}</h2>
                  </div>
                </div>
              </div>
              <!-- <div class="country dark_light">
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-left">1.2345</h2>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-right">USD</h2>
                  </div>
                </div>
              </div>
              <div class="country dark_light">
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-left">1.2345</h2>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-right">AUD</h2>
                  </div>
                </div>
              </div>
              <div class="country dark_light">
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-left">1.2345</h2>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-right">CAD</h2>
                  </div>
                </div>
              </div>
              <div class="country dark_light">
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-left">1.2345</h2>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-right">CZK</h2>
                  </div>
                </div>
              </div>
              <div class="country dark_light">
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-left">1.2345</h2>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-right">MXN</h2>
                  </div>
                </div>
              </div>
              <div class="country dark_light">
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-left">1.2345</h2>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-right">ZAR</h2>
                  </div>
                </div>
              </div>
              <div class="country dark_light">
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-left">1.2345</h2>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-right">CHF</h2>
                  </div>
                </div>
              </div>
              <div class="country dark_light">
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-left">1.2345</h2>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-right">TRY</h2>
                  </div>
                </div>
              </div>
              <div class="country dark_light">
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-left">1.2345</h2>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <h2 class="text-right">AED</h2>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <p class="text-right">Rates updated daily</p>
        </div>
        <div class="box_center">
          <h3 class="text-center">sample scrolling message</h3>
        </div>
        <div class="head_blue">
          <h2 class="text-center">
            eurochange.co.uk
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>