<section class="screen_height">
  <div class="container">
    <div class="row">
      <div class="hed_box">
        <div class="center">
          <div class="img_size">
            <img src="img/eurochange.png">
          </div>
          <div class="img_size2">
            <h2>Form</h2>
          </div>
          <div class="img_size3">
            <img src="img/nm_money.png">
          </div>
        </div>
      </div>
      <div class="orange">
        <h2>more euro for your trip!</h2>
      </div>
      <div class="pink_box">
        <form class="form-horizontal" role="form">
          <div class="form-group box_form">
            <label for="inputcontent2" class="col-sm-2 form_label ">when you buy a min. of 500</label>
            <div class="col-sm-10">
              <input type="tel" name="phone" class="form-control form_input_type"> <i class="fas fa-dollar-sign" id="icon_id"></i>
            </div>
          </div>
          <div class="form-group box_form">
            <label for="inputcontent2" class="col-sm-2 form_label ">today you can buy $700 for</label>
            <div class="col-sm-10">
              <input type="tel" name="phone" class="form-control form_input_type"> <i class="fas fa-pound-sign" id="icon_id"></i>
            </div>
          </div>
        </form>
      </div>
      <div class="footer_white">
        <div class="content_footer">
          <h1>don’t delay, get your
<span style="font-weight: bold;">travel money</span>
here today or visit
eurochange.co.uk</h1>
          <img src="img/footer_eurochange.png">
        </div>
      </div>
    </div>
  </div>
</section>

