<div class="wrap3">
    <div class="container">
        <div class="col-md-12">
            <div class="back-close">
                <span class="back-icon1"><a href="javascript:history.go(-1)">
                        <svg aria-hidden="true" data-prefix="far" data-icon="arrow-left" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                            class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x">
                            <path fill="currentColor"
                                d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z"
                                class=""></path>
                        </svg>
                    </a></span>
                <span class="close-icon"><a href="javascript:history.go(-1)"><img
                            src="assets/image/close.png"></a></span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="administer-section">
                    <h3>Screens</h3>
                </div>
                <a class="btn btn-primary sb-btn" routerLink="/admin/addbranchscreen/0/{{BranchId}}">Add
                    BranchScreen</a>
                <div class="clearfix"></div>
                <div>
                    <form class="form-inline md-form form-sm active-cyan-2">
                        <input class="form-control width_input form-control-sm mr-10 w-49.5"
                            [ngModelOptions]="{standalone: true}" type="search" [(ngModel)]="searchArea"
                            aria-label="Search">
                    </form>
                </div>
                <div class="table-responsive table-bordered admin-table">
                    <table class="table admin-table">
                        <thead>
                            <tr class="admin-table-head">
                                <th>Screen ID</th>
                                <th>Name</th>
                                <th>Screen Size</th>
                                <th>Type</th>
                                <th>Active</th>
                                <th>Notes</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let branchscreen of returnedBranchScreen | filter: {ScreenName:searchArea}:false"
                                class="white-row">
                                <td>{{branchscreen.Id}}</td>
                                <td>{{branchscreen.ScreenName}}</td>
                                <td>{{branchscreen.ScreenSizeName}}</td>
                                <td>
                                    <div *ngIf="branchscreen.ScreenType==1">
                                        <b>Single</b>
                                    </div>

                                    <div *ngIf="branchscreen.ScreenType!=1">
                                        <b>Split</b>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-success" *ngIf="branchscreen.isActive==1">
                                        <b>Yes</b>
                                    </div>

                                    <div class="text-danger" *ngIf="branchscreen.isActive!=1">
                                        <b>No</b>
                                    </div>
                                </td>
                                <td>{{branchscreen.Notes}}</td>
                                <td>{{branchscreen.Actions}}

                                    <a class="" routerLink="/admin/screenList/{{branchscreen.Id}}/{{BranchId}}">View</a>
                                    |
                                    <a class=""
                                        routerLink="/admin/addbranchscreen/{{branchscreen.Id}}/{{BranchId}}">Edit</a> |
                                    <a class="" href="javascript:void(0)"
                                        (click)="DeleteBranchScreen(branchscreen.Id)">Delete</a>
                                </td>
                            </tr>
                            <!--/.row-->
                        </tbody>
                    </table>
                </div>
                <div class="next-prev">
                    <pagination [maxSize]="10" [totalItems]="totalItems" (pageChanged)="pageChanged($event)">
                    </pagination>
                </div>

            </div>

        </div>
    </div>

</div>