<!--HEADER STARTS-->
<div class="wrap1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="logo">
                    <a class="navbar-brand" routerLink="/admin/dashboard" [routerLinkActive]="['active']">
                        <img src="assets/image/logo.png">
                    </a>
                </div>
                <div class="nav-right">
                    <ul class="main-nav">
                        <li class="icon-active"><a href="javascript:void(0)" class="dropbtn-set"><i class="fa fa-cog"></i></a>
                            <ul class="setting-inside dropdown-content-set">
                                <li class="active"><a routerLink="/admin/dashboard">Dashboard</a></li>
                                <li *ngIf="userrole=='admin'" class="set-btn"><a routerLink="/admin/userlist">Administrators</a></li>
                                <!-- <li class="set-btn"><a routerLink="/admin/messagesettings">Message Settings</a></li> -->
                            </ul>
                        </li>
                        <li class="icon">
                            <a routerLink="/admin/profile/0/{{UserId}}">
                                <i class="fa fa-user"></i>
                            </a>
                        </li>

                        <li class="icon-active"><a href="javascript:void(0)" class="dropbtn-bar"><i class="fa fa-bars"></i></a>
                            <ul class="setting-inside dropdown-content-bar">
                                <li class="set-btn"><a routerLink="/admin/screenList">Screens</a></li>
                                <li class="set-btn"><a routerLink="/admin/currencyList">Currency</a></li>
                                <li class="set-btn"><a routerLink="/admin/imageGallery">Image Library</a></li>
                                <li class="set-btn"><a routerLink="/admin/stats">Statistics</a></li>
                                <li class="set-btn"><a href="javascript:void(0)" (click)="Logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>