<div class="wrap2 mt-90">
    <div class="container">
        <div class="row form1">
            <div class="col-md-12">
                <div class="head">
                    <h1>how much travel money will i get?</h1>
                    <P>Just select the currency and enter the amount £ pounds, to see <span class="bold"> how much you
                            will get </span> in branch today. </P>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="bg5">
                    <form (ngSubmit)="ConvertCurrency()" novalidate #custForm='ngForm'>
                        <div class="form-group row">
                            <span class="text-success" *ngIf="errorMessagedisplay">{{errorMessage}}</span>
                        </div>
                        <div class="form-group row">
                            <label for="inputcontact" class="col-sm-5 col-form-label" id="current" id="input">Select
                                currency:</label>
                            <div class="col-sm-6">
                                <select [(ngModel)]="CurrencyCode" name="CurrencyCode" (change)="currencyChange()">
                                    <option>Select</option>
                                    <option *ngFor='let v of currencyType' value="{{v.CurrencyCode}}">
                                        {{ v.CurrencyCode }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputcontact" class="col-sm-5 col-form-label"
                                id="input">{{addamountlabel}}:</label>
                            <div class="col-sm-6">
                                <input type="string" class="col-form-label " [(ngModel)]="CurrencyAmount"
                                    (ngModelChange)="currencyChange($event)" name="CurrencyAmount"
                                    placeholder="Please Enter Rate" ng-virtual-keyboard
                                    ng-virtual-keyboard-layout="numeric" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-blue sb-btn">
                            Get rate</button>
                    </form>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="bgblack">
                    <div class="form-group row">
                        <label for="inputcontact" class="col-sm-5 col-form-label " id="input">Exchange rate: </label>
                        <div class="col-sm-6">
                            <input type="text" class="contact" value="{{rate}}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputcontact" class="col-sm-5 col-form-label" id="input">I get:</label>
                        <div class="col-sm-6">
                            <input type="text" class="contact1" value="{{amount}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="mt-20">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="heading_title2 mb-4"><img alt="logo" src="assets\front\images\logo_blue.png" width="80%">
                </div>
            </div>
            <div class="col-md-6">
                <div class="button">
                    <a class="btn btn-pink button" routerLink="/"> Back</a>
                </div>
            </div>
        </div>
    </div>
</section>