<div class="wrap2 bg9">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
                  <div class="form2 login-form">
                      <img src="assets/image/logo.png">
                      <p class="login-form-title">admin login</p>
                  
                  <div class="">
                      <h5>Please fill in the form below:</h5>
                  </div>
                  <form  [formGroup]="loginform" (ngSubmit)="Login()" class='container'>
                      <div class="form-group row">
                          <label for="inputemail" class="col-sm-4 col-form-label" style="font-size: 20px ;     font-weight: 700;">Email:</label>
                          <div class="col-sm-6">
                              <input type="text" class="form-control form-control1" formControlName="username" required>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="inputcontact" class="col-sm-4  col-form-label" style="font-size: 20px  ;   font-weight: 700;">Password:</label>
                          <div class="col-sm-6">
                              <input type="password" class="form-control form-control1" formControlName="password" required>
                          </div>
                      </div>
                      <div class="form-group row submit-btn">
                          <label for="inputcontact" class="col-sm-4 col-form-label">&nbsp;</label>
                          <div class="col-sm-6 sb-btn-wrp">
                                <button type="submit" class="btn btn-primary sb-btn pull-left login-btn">Login</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
