<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Click And Close</h4>
        <button type="button" class="close" aria-label="Close" (click)="CloseModelWithLastValue()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="text" [(ngModel)]="term">
        <div class="row6">
            <div *ngFor='let v of galleryImages|filter:term' class="col-md-3 dash-item gallery">
                <img src='{{v.ImageUrl}}' id="{{v.Id}}" (click)="SelectedImage($event)"
                    class="img-responsive {{SelectedImageView}}" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="CloseModelWithLastValue()">Close</button>
    </div>
</ng-template>

<div class="wrap2">
    <div class="container">
        <div class="col-md-12">
            <div class="back-close">
                <span class="back-icon1"><a href="javascript:history.go(-1)">
                        <svg aria-hidden="true" data-prefix="far" data-icon="arrow-left" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                            class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x">
                            <path fill="currentColor"
                                d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z"
                                class=""></path>
                        </svg>
                    </a></span>
                <span class="close-icon"><a href="javascript:history.go(-1)"><img
                            src="assets/image/close.png"></a></span>
            </div>

        </div>
        <div class="row form1">
            <div class="col-md-12">
                <div class="">
                    <p class="form-title">{{title}}</p>
                </div>

                <form (ngSubmit)="AddScreen()" novalidate #custForm='ngForm'>
                    <div class="form-group row">
                        <span class="text-danger" *ngIf="errorMessagedisplay">{{errorMessage}}</span>
                        <span class="text-success" *ngIf="successMessagedisplay">{{successMessage}}</span>
                    </div>
                    <div class="form-group row">
                        <label for="inputname" class="col-sm-4 col-form-label"> Slide Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Name" [ngModel]="ScreenName" maxlength="g00"
                                name="ScreenName" required aria-describedby="nameHelp" placeholder="Enter Slide Name" />

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">Slide Type:</label>
                        <div class="col-sm-6">
                            <select (change)="filterChanged($event.target.value)" [(ngModel)]="ScreenType"
                                name="ScreenType">
                                <option>Select</option>
                                <option *ngFor='let v of screenType' value="{{v.Id}}">{{ v.ScreenType }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="displayscreenddl">
                        <label for="inputcontact" class="col-sm-4 col-form-label">Screens:</label>
                        <div class="col-sm-6">
                            <select [ngModel]="Screens" name="Screens"
                                (change)="onChangeScreenDropDown($event.target.value)">

                                <option value="0">Please Select</option>
                                <option *ngFor='let v of GetScreen' value="{{v.Id}}">{{ v.ScreenName }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">Start Date:</label>
                        <div class="col-sm-6">
                            <input type="text" name="StartDate" [ngModel]="StartDate" placeholder="Start Date"
                                class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">Start Time:</label>
                        <div class="row padding2">
                            <div class="col-sm-6 col-md-6">
                                <input type="number" name="StartHH" id="StartHH" min="0" max="23" required
                                    [ngModel]="startHour" step="1"
                                    onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;"
                                    placeholder="HH">

                            </div>
                            <div class="col-sm-6 col-md-6">
                                <input type="number" name="StartMM" id="StartMM" min="0" max="59" required
                                    [ngModel]="startMinutes" step="1"
                                    onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;"
                                    placeholder="MM">
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">End Date:</label>
                        <div class="col-sm-6">
                            <input type="text" name="EndDate" [ngModel]="EndDate" placeholder="End Date"
                                class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">End Time:</label>
                        <div class="row padding2">
                            <div class="col-sm-6 col-md-6">
                                <input type="number" name="EndHH" id="EndHH" min="0" max="23" [ngModel]="endHour"
                                    step="1" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;"
                                    placeholder="HH">
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <input type="number" name="EndMM" id="EndMM" min="0" max="59" [ngModel]="endMinutes"
                                    step="1" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;"
                                    placeholder="MM">

                            </div>

                        </div>
                    </div>

                    <div *ngIf="featurecolour" class="form-group row">
                        <label for="inputEmail" class="col-sm-4 col-form-label">Feature Colour:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FetaureColour" maxlength="100"
                                [(ngModel)]="FeatureColour" name="FeatureColour" placeholder="Enter Feature Colour" />
                        </div>
                    </div>


                    <div *ngIf="currency1" class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">Currency 1:</label>
                        <div class="col-sm-6">
                            <select [ngModel]="CurrencyFirst" name="CurrencyFirst">
                                <option>Select</option>
                                <option *ngFor='let v of currencyType' value="{{v.Id}}">{{ v.CurrencyCode }}</option>
                            </select>
                        </div>
                    </div>


                    <div *ngIf="currency1" class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">Currency 2:</label>
                        <div class="col-sm-6">
                            <select [ngModel]="CurrencyTwo" name="CurrencyTwo">
                                <option>Select</option>
                                <option *ngFor='let v of currencyType' value="{{v.Id}}">{{ v.CurrencyCode }}</option>
                            </select>
                        </div>
                    </div>

                    <div *ngIf="currency1" class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">Currency 3:</label>
                        <div class="col-sm-6">
                            <select [ngModel]="CurrencyThree" name="CurrencyThree">
                                <option>Select</option>
                                <option *ngFor='let v of currencyType' value="{{v.Id}}">{{ v.CurrencyCode }}</option>
                            </select>
                        </div>
                    </div>

                    <div *ngIf="currency1" class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">Currency 4:</label>
                        <div class="col-sm-6">
                            <select [ngModel]="CurrencyFour" name="CurrencyFour">
                                <option>Select</option>
                                <option *ngFor='let v of currencyType' value="{{v.Id}}">{{ v.CurrencyCode }}</option>
                            </select>
                        </div>
                    </div>

                    <div *ngIf="currency1" class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">Currency 5:</label>
                        <div class="col-sm-6">
                            <select [ngModel]="CurrencyFive" name="CurrencyFive">
                                <option>Select</option>
                                <option *ngFor='let v of currencyType' value="{{v.Id}}">{{ v.CurrencyCode }}</option>
                            </select>
                        </div>
                    </div>


                    <div *ngIf="stitle" class="form-group row">
                        <label for="Title" class="col-sm-4 col-form-label">Title:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Title" maxlength="500" [ngModel]="Title"
                                name="Title" placeholder="Enter Title" />
                        </div>
                    </div>

                    <div *ngIf="subtitle" class="form-group row">
                        <label for="SubTitle" class="col-sm-4 col-form-label">SubTitle:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="SubTitle" maxlength="500" [ngModel]="SubTitle"
                                name="SubTitle" placeholder="Enter SubTitle" />
                        </div>
                    </div>

                    <div *ngIf="currency0" class="form-group row">
                        <label for="inputcontact" class="col-sm-4 col-form-label">Currency:</label>
                        <div class="col-sm-6">
                            <select [(ngModel)]="CurrencyCode" name="CurrencyCode">
                                <option>Select</option>
                                <option *ngFor='let v of currencyType' value="{{v.Id}}">{{ v.CurrencyCode }}</option>
                            </select>
                        </div>
                    </div>


                    <div *ngIf="backgroundimage" class="form-group row">
                        <label for="BackgroundImage" class="col-sm-4 col-form-label">Background image:</label>
                        <div class="col-sm-3">
                            <div class="fileUpload btn btn-primary file1 ">
                                <span>Select From Computer</span>
                                <input type="file" id="bgImage" name="bgImage" accept="image/*"
                                    (change)="fileChange($event)" [(ngModel)]="bgImage" class="upload" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="fileUpload btn btn-primary file2 ">
                                <a (click)="open(content)">Select From Image Gallery</a>
                            </div>
                        </div>
                        <div class="img_size_width">
                            <img src={{SelectedbckImageSrc}} />
                        </div>
                    </div>




                    <div *ngIf="htmlcode" class="form-group row">
                        <label for="HtmlCode" class="col-sm-4 col-form-label">Html code:</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="HtmlCode" rows="4" cols="50" maxlength="2000"
                                [ngModel]="HtmlCode" name="HtmlCode"
                                placeholder="<html><body><p>This is a paragraph.</p><p>This is a paragraph.</p><p>This is a paragraph.</p></body> "></textarea>
                        </div>
                    </div>

                    <div *ngIf="simage" class="form-group row">
                        <label for="Image" class="col-sm-4 col-form-label">Image:</label>
                        <div class="col-sm-3">
                            <div class="fileUpload btn btn-primary file1">
                                <span>Select From Computer</span>
                                <input type="file" id="bgImage" name="bgImage" accept="image/*"
                                    (change)="fileChange($event)" [(ngModel)]="bgImage" value="Upload" class="upload" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="fileUpload btn btn-primary file2">
                                <a (click)="open(content)">Select From Image Gallery</a>
                            </div>
                            <div class="img_size_width">
                                <img src={{SelectedImageSrc}} />
                            </div>
                        </div>
                    </div>

                    <div *ngIf="svideo" class="form-group row">
                        <label for="video" class="col-sm-4 col-form-label">Video:</label>
                        <div class="col-sm-3">
                            <div class="fileUpload btn btn-primary file1">
                                <span>Select Video</span>
                                <input type="file" id="bgvideo" name="bgvideo" accept="video/mp4"
                                    (change)="fileChangeVideo($event)" [(ngModel)]="bgvideo" value="Upload"
                                    class="upload" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!-- <div class="fileUpload btn btn-primary file2">
                                <a (click)="open(content)">Select From video Gallery</a>
                            </div> -->
                            <div>
                                <video width="500" controls>
                                    <source src={{SelectedvideoSrc}} type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ScreenOrder" class="col-sm-4 col-form-label">Slide order:</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="SubTitle" min="1" max="3"
                                [ngModel]="ScreenOrder" name="ScreenOrder" />
                        </div>
                    </div>

                    <div class="form-group row submit-btn">
                        <label for="Add" class="col-sm-12 col-form-label">&nbsp;</label>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary sb-btn">
                                Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>