@font-face {
 font-family: 'HelveticaNeueLTStd-Bd';
 src: url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'), 
	  url('../fonts/HelveticaNeueLTStd-Bd.otf') format('opentype'), 
	  url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), 
	  url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'), 
	  url('../fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'HelveticaNeueLTStd-Roman';
 src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'), 
	  url('../fonts/HelveticaNeueLTStd-Roman.otf') format('opentype'), 
	  url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), 
	  url('../fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'), 
	  url('../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'HelveticaNeueLTProTh';
 src: url('../fonts/HelveticaNeueLTProTh.eot') format('embedded-opentype'), 
	  url('../fonts/HelveticaNeueLTProTh.woff2') format('woff2'), 
	  url('../fonts/HelveticaNeueLTProTh.woff') format('woff'), 
	  url('../fonts/HelveticaNeueLTProTh.ttf') format('truetype'), 
	  url('../fonts/HelveticaNeueLTProTh.svg#HelveticaNeueLTProTh') format('svg');
}
body {
	color: #313f48;
	font-size: 16px;
	font-family: 'HelveticaNeueLTStd-Roman';
}
* {
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	box-sizing: border-box;
	list-style: none;
}
a {
	outline: none !important;
 -webkit-transition: all .5s;
 -moz-transition: all .5s;
 transition: all .5s;
}
a:hover, a:focus, a:active {
	text-decoration: none;
}
p {
	line-height: 28px;
	font-size: 16px;
}
img {
	max-width: 100%;
	height: auto;
}
button, input, select, textarea {
	outline: none;
}
.btn-default {
    background-color: #009bde;
	border-radius: 40px;
    border: 0 none;
    color: #ffffff;
	cursor: pointer;
	display: inline-block;
	padding: 8px 40px;
    font-size: 16px;
	font-weight: 600;
}
.btn-default:hover {
	background-color: #008bce;
	color: #fff;
}
.btn-orange {
	background-color: #ff9e16;
	color: #fff;
	border-radius: 40px;
	padding: 8px 25px;
}
.btn-orange:hover {
	color: #fff;
}
.btn_primary {
	background-color: #cfd92d;
	color: #fff;
	border-radius: 40px;
	padding: 8px 25px;
}
.btn_primary:hover {
    background-color: #bfc91d;
    color: #fff;
}
.btn_light {
    background-color: #fcfcf7;
    color: #009bde;
    border-radius: 40px;
    padding: 10px 30px;
    font-weight: 600;
    display: inline-block;
}
.btn_light:hover {
    background-color: #009bde;
    color: #fff;
}
.heading_title h2 {
	font-size: 42px;
	color: #ec0044;
	font-family: 'HelveticaNeueLTProTh';
	margin-bottom: 30px;
}
.heading_title2 h2 {
	font-size: 48px;
	color: #ec0044;
	font-family: 'HelveticaNeueLTProTh';
	margin-bottom: 30px;
}
.heading_title3 h2 {
	font-size: 30px;
	color: #ec0044;
	font-family: 'HelveticaNeueLTProTh';
	margin-bottom: 30px;
}
.gray_bg {
	background-color: #f8f8f8;
}
.gray_bg2 {
	background-color: #f3f3f3;
}
section { 
	padding: 150px 0;
}
section.small_padding {
	padding: 75px 0; 
}

.form-control:focus {
	box-shadow: none;
}
/* Header Css */
.logo {
    margin: 0px;
    padding: 0px;
}

.maga-menu-main {
    min-height: 700px;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    background-color: #ec0044;
    padding: 65px 0 0px 0;
    display: none;
	z-index: 9;
}
.navbar-default .navbar-nav li a {
    padding: 0px;
    margin-left: 24px;
    font-family: 'HelveticaNeueLTStd-Bd';
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    text-transform: lowercase;
}
.navbar {
    padding: 20px;
}
.nav-toggle {
    border: none;
    outline: none;
    background: none;
}
.nav-toggle {
	cursor: pointer;
}
.navbar-default .btn-default {
	padding: 8px 25px;
}
.nav-toggle .icon-bar {
    background: #a3a3a4;
    height: 2px;
    clear: both;
    width: 22px;
    float: left;
    margin-top: 4px;
}
.menu-dropdown-close {
    position: absolute;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    right: 28px;
    top: 21px;
}
.menu-dropdown-nav {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 2px solid #FF9E16;
    background: #ff9e16;
}
.menu-dropdown-nav li {
    float: left;
    width: 25%;
    color: #fff;
    border-right: #ec0044 2px solid;
}
.menu-dropdown-nav li > a {
    font-size: 18px;
    text-transform: lowercase;
    width: 100%;
    color: #fff;
    padding: 17px 20px;
    float: left;
    margin-left: 0px;
    background: #ff9e16;
}
.menu-dropdown-nav .dropdown-toggle:after {
	border: 0;
}
.menu-dropdown-nav li.open-nav a.dropdown-toggle {
	background: #ec0044;
}
.submenu-list {
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 45px 0;
    min-height: 560px;
    display: none;
    float: left;
    width: 100%;
    background: #ec0044;
}
.submenu-list-item {
    float: left;
    text-align: center;
    padding-left: 20px;
    width: 25%;
}
.submenu-list-item h4 {
    color: #ff9e16;
    width: 100%;
    text-align: center;
    padding: 20px 0 10px 0;
    float: left;
    font-size: 26px;
    text-transform: lowercase;
    font-family: 'HelveticaNeueLTProTh';
}
.submenu-list-item p {
    clear: both;
}
.submenu-list-item a.btn-orange {
	width: auto;
	margin: auto;
	float: none;
    font-size: 16px;
    text-transform: lowercase;
	display: table
}
.menu-dropdown-nav li.open-nav .submenu-list {
	display: block;
}
.get-callback {
    position: absolute;
    bottom: 0px;
    padding: 30px 0;
    border-top: solid 2px #ff9e16;
    float: left;
    width: 100%;
    background-color: #EC0044;
    box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.35);
}
.get-callback h4 {
    font-family: 'HelveticaNeueLTProTh';
    color: #fff;
    float: left;
    font-size: 30px;
    margin: 5px 0 0px 0;
}
.get-callback .get-call-back {
    float: right;
	font-weight: 600;
	text-transform: lowercase;
}
.get-callback .get-call-back:hover {
    background-color: #fff;
	color: #EC0044;
}
/*End Header Css*/

/*Banner Css*/
.banner_image {
    padding: 130px 0;
    background-repeat: no-repeat;
}
.banner_content h1 {
    color: #ec0044;
    font-size: 58px;
	font-family: "HelveticaNeueLTProTh";
	margin-bottom:20px;
}
.banner_content p {
	font-size: 20px;
}
.call_text {
	font-size: 40px;
	font-family: 'HelveticaNeueLTStd-Bd';
	margin: 20px 0 30px 0;
}
.banner_content a {
	border-bottom: 1px solid #313f48;
	color: #313f48;
}
.banner_content .btn-default {
	font-weight: 600;
    padding: 10px 35px;
	font-size: 24px;
    border: 0;
    color: #fff;
	display: inline-block;
}
/*End Banner Css*/

/*Brand Logo Slider Css*/
.brand_logo_wrap {
	padding:30px 75px;
}
.brand_slider img {
	max-width: 148px;
}
/*End Brand Logo Slider Css*/

/*Mortgage Looking Css*/
.box_wrap {
	padding:20px;
	margin-top: 30px;
}
.box_wrap img,
.box_wrap p {
	margin-bottom: 30px;
}
.box_wrap h3 {
	font-size: 24px;
	margin-bottom: 20px;
	font-family: 'HelveticaNeueLTStd-Bd';
}
/*End Mortgage Looking Css*/

/*NM Money Css*/

.money_content p {
	font-size: 22px;
	line-height: 36px;
}
.money_content p span,
.call_link {
	color: #ec0044;
	font-weight: 600;
}
.call_link.border_bottom {
	border-bottom: 1px solid #ec0044;
}
.call_link:hover {
	color: #ec0044;
}

/*End NM Money Looking Css*/

/*mortgage calculators Css*/
.cl_box {
	padding:25px;
	margin-top: 30px;
}
.cl_box h3 {
	font-size: 22px;
	font-family: 'HelveticaNeueLTStd-Bd';
	margin-bottom: 30px;
}
.cl_box p {
	margin-bottom: 30px;
}
/*End mortgage calculators Css*/

/*best buy mortgages Css*/
.bb_mortgages_table {
	margin-top: 30px;
}
.bb_mortgages_table h3 {
	font-size: 22px;
	margin-bottom: 20px;
	font-family: 'HelveticaNeueLTStd-Bd';
}
.mortgages_table .table th {
    background-color: #45bead;
    border: 0 none;
	color: #fff;
    padding: 20px;
    text-align: center;
}
.mortgages_table table tbody td {
    background-color: #fff;
    color: #333;
    padding: 10px;
	text-align: left;
	vertical-align: middle;
}
.mortgages_table .btn_primary {
    padding: 5px 14px;
}
.mortgages_table sup {
	font-size: 16px;
}
.thead-orange.mortgages_table .table th {
	background-color: #fb9c3e;
}
/*End best buy mortgages Css*/

/*mortgage advice Css*/
.mortgage_advice_wap {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
/*End */

/*Footer Css*/
footer {
	padding:75px 0;
}
.footer_title {
	font-size: 18px;
	font-family: 'HelveticaNeueLTStd-Bd';
	margin-bottom: 30px; 
}
.footer_link li {
	margin: 10px 0;
}
.footer_menu {
	display: inline-block;
    margin: 0;
}
.footer_menu li {
	display: inline-block;
	padding: 0 10px;
	position:relative;
}
.footer_menu li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    height: 15px;
    width: 1px;
    background-color: #313f48;
}
.footer_menu li:first-child:before {
    content: normal;
}
.footer_link li a,
.footer_menu li a {
	color: #313f48;
}
.footer_link li a:hover,
.footer_menu li a:hover {
	color: #EC0044;
}
.middle_footer {
    padding: 50px 0;
}

/*End Footer Css*/
.request_form {
	max-width: 450px;
	margin: 0 auto;
}
.form_input .form-control {
	background-color: #f3f3f3;
	border: 2px solid #e9e6e6;
	border-radius: 20px;
	padding: 12px 20px;
	height: 52px;
	line-height: 52px;
	font-weight: 600;
}
.form_input .form-group {
	margin-bottom: 20px;
}
.form_input button {
	font-weight: 600;
}
.form_input input::-webkit-input-placeholder {
	color: #99999a;
}
.form_input input:-moz-placeholder {
	color: #99999a;
}
.form_input input::-moz-placeholder {
	color: #99999a;
}
.form_input input:-ms-input-placeholder {
	color: #99999a;
}

/**/
.key_content h4 {
	font-size: 22px;
	font-family: 'HelveticaNeueLTStd-Bd';
	margin-bottom: 20px;
	text-transform: capitalize;	
}
.key_que li {
	background-color: #f3f3f3;
    padding: 15px;
	margin-top: 3px;
}
.key_que.color-pink li {
	color: #ec0044;
}






/*Contact page*/
.contact_wrap {
	width:100%; 
	display:inline-block;
}
.contact_box {
	margin:0 auto;
	max-width:700px;
}
.contact_box .contact_box_inner {
	background-color:#fff;
	border-radius: 50px;
	padding: 80px 120px;
}

.contact_box_input .form-control,
.default-select-box .ms-choice ,
.select2-container--default .select2-selection--single {
	border:2px solid #e9e6e6;
	border-radius: 20px;
	padding: 12px 20px;
	height: 52px;
	line-height: 52px;
}

.contact_box_input .form-control:focus,
.default-select-box .ms-choice:focus,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    color: #495057;
    background-color: #f3f3f3;
    border-color: #e9e6e6;
    outline: 0;
    box-shadow: none;
}
.cutom_select{
	width:100%;
}
.default-select-box {
    position: relative;
}
.default-select-box .ms-choice > span {
	left: 12px;
}
.default-select-box .ms-drop {
	padding: 12px 20px;
	border:2px solid #e9e6e6;
	box-shadow: 0 4px 5px #e9e6e6;
	border-radius: 20px;
	text-align:left;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #999;
}
.contact_box_input .form-control::-webkit-input-placeholder {
  color: #999;
}
.contact_box_input .form-control::-moz-placeholder { 
  color: #999;
}
.contact_box_input .form-control:-ms-input-placeholder { 
  color: #999;
}
.contact_box_input .form-control:-moz-placeholder {
  color: #999;
}

.default-select-box .ms-drop ul li input[type="checkbox"] {
	position: absolute;
    left: -9999px;
}
	
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + span,
[type="checkbox"]:checked + span {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + span:before,
[type="checkbox"]:checked + span:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + span:after,
[type="checkbox"]:checked + span:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 8px;
  font-size: 1.4em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + span:after {
  opacity: 0;
}
[type="checkbox"]:checked + span:after {
  opacity: 1;
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + span:before,
[type="checkbox"]:disabled:checked + span:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + span:after {
  color: #999;
}
[type="checkbox"]:disabled + span {
  color: #aaa;
}
/* accessibility */

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    background: url('../images/multiple-select.png') right top no-repeat;
	top: 20px;
	right: 20px;
	width:20px;
	height:12px;
	border:0px;
	margin-left: -25px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {padding:0; text-align:left;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    background: url('../images/multiple-select-open.png') right top no-repeat;
}
.ms-drop ul .ms-select-all label {display:none !important;}
.default-select-box .ms-drop ul li.selected span::before,
[type="checkbox"]:checked + span::before {
	background:#22a8e2;
	border-color:#22a8e2;
}
.termscheckbox span {
    float: left;
}
.termscheckbox p {
    overflow: hidden;
    text-align: left;
    padding-left: 35px;
    margin-top: -5px;
}
.contact_box_input button {cursor:pointer; font-size:18px; font-weight:bold;}

/*Stamp Duty Calculator Css*/
.borrow_form {
    max-width: 990px;
    margin: 40px auto 20px;
}
.borrow_form label {
    font-family: "HelveticaNeueLTStd-Bd";
    padding-left: 20px;
	margin-bottom: 10px;
}
.input-group-full {
    position: relative;
}
.borrow_form input {
    background-color: #fff;
    border: 2px solid #e9e6e6;
    border-radius: 30px;
    font-size: 20px;
    height: 45px;
    padding-left: 60px;
}
.borrow_form input:focus {
    border-color: #e9e6e6;
}
.borrow_form select {
    background-image: url('../images/select-arrow.png');
    background-color: #fff;
    border: 2px solid #e9e6e6;
    border-radius: 30px;
    color: #99999a;
    font-size: 20px;
    padding: 5px 30px 5px 20px;
    height: 45px;
    background-position: right 16px center;
    background-size: 11px;
}
.borrow_form select:focus {
	box-shadow: none;
	border-color: #e9e6e6;
}
.borrow_form .cr_sign {
    border-right: 2px solid #e9e6e6;
    bottom: 0;
    color: #99999a;
    font-family: "HelveticaNeueLTStd-Bd";
    font-size: 22px;
    left: 5px;
    padding: 5px 15px;
    position: absolute;
    top: 0;
}
.borrow_form button {
	font-size: 24px;
	padding: 5px 20px;
}
.deal_start > span {
    font-family: "HelveticaNeueLTStd-Bd";
    margin-right: 30px;
}
.borrow_up h3 {
    background-color: #ffffff;
    border-radius: 40px;
	font-size: 30px;
    font-family: "HelveticaNeueLTProTh";
    margin: 40px 0 20px;
    padding: 20px;
}
.borrow_up h3 strong {
	color: #ec0044;
   font-family: 'HelveticaNeueLTStd-Roman';
   margin-left:10px;
}
.borrow_up p {
	font-size: 18px;
	margin: 0;
}
/*End Stamp Duty Calculator Css*/

/*Stemp Duty Section Css*/
.stamp_duty_section p {
	color: #5b5958;
}
/*End Stemp Duty Section Css*/







/*banner section*/
.full_screen {
	height: 750px;
	padding-bottom:40px;
	position:relative;
	background-size:cover;
	overflow-x: hidden;
}

.pink_box {
	background-color:#ec0044;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.35);
	padding:45px;
}
.mex_box {
	max-width:450px;
	float:right;
}
.pink_box .money_sy {
	color:#fff;
	font-size:130px;
	font-weight: bold;
}
.pink_box h2 {
	color:#fff;
	font-size:70px;
	font-family: "HelveticaNeueLTProTh";
	margin-bottom:30px;
}
.pink_box p {
	color:#fff;
	font-size:28px;
	margin-bottom:50px;
}
.btn-border {
	border:8px solid #fff;
}
.full_screen .btn {
	font-weight:bold;
	font-size:30px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.currency_box .pink_box .money_sy {
	font-size:90px;
	display:block;
	line-height: normal;
	margin-top: -20px;
	margin-bottom: 15px;
}
.currency_box li {
	width:20%;
	float:left;
	padding: 0 15px;
}
.currency-name {
    position: relative;
    top: -3px;
    color: #fff;
    font-size: 35px;
    margin-left: 10px;
	font-family: "HelveticaNeueLTProTh";
}
.currency_box .currency_place {
	margin-top:10px;
    margin-bottom: 0;
    font-size: 22px;
}
.tra_box_white {
    background-color: rgba(255,255,255,0.8);
    padding: 30px;
}
.tra_box_white .banner_cta {
	display: -webkit-box ;
	display: -ms-flexbox ;
	display: flex ;
	-webkit-box-pack: justify ;
	-ms-flex-pack: justify ;
	justify-content: space-between ;
	-webkit-box-align: center ;
	-ms-flex-align: center ;
	align-items: center ;
}
.bottom_box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}


.currency-country-sprite {
    background-image: url("../images/currency-country-sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -250000em;
    width: 46px;
    height: 30px;
	border:4px solid #fff;
}
.EUR {
    background-position: 0 0;
}
.USD {
    background-position: 0 -27px;
}
.XCD {
    background-position: 0 -55px;
}
.ARS {
    background-position: 0 -83px;
}
.AUD {
    background-position: 0 -111px;
}
.BSD {
    background-position: 0 -139px;
}
.BHD {
    background-position: 0 -166px;
}
.BDT {
    background-position: 0 -196px;
}
.BBD {
    background-position: 0 -224px;
}
.BZD {
    background-position: 0 -253px;
}
.BMD {
    background-position: 0 -281px;
}
.BWP {
    background-position: 0 -340px;
}
.BRL {
    background-position: 0 -367px;
}
.BND {
    background-position: 0 -395px;
}
.BGN {
    background-position: 0 -423px;
}
.CAD {
    background-position: 0 -451px;
}
.KYD {
    background-position: 0 -480px;
}
.CLP {
    background-position: 0 -508px;
}
.CNY {
    background-position: 0 -536px;
}
.COP {
    background-position: 0 -564px;
}
.NZD {
    background-position: 0 -592px;
}
.CRC {
    background-position: 0 -620px;
}
.HRK {
    background-position: 0 -647px;
}
.CZK {
    background-position: 0 -676px;
}
.DKK {
    background-position: 0 -704px;
}
.DOP {
    background-position: 0 -732px;
}
.EGP {
    background-position: 0 -760px;
}
.FJD {
    background-position: 0 -788px;
}
.XPF {
    background-position: 0 -816px;
}
.GMD {
    background-position: 0 -844px;
}
.GTQ {
    background-position: 0 -873px;
}
.HNL {
    background-position: 0 -902px;
}
.HKD {
    background-position: 0 -930px;
}
.HUF {
    background-position: 0 -959px;
}
.ISK {
    background-position: 0 -987px;
}
.INR {
    background-position: 0 -309px;
}
.IDR {
    background-position: 0 -1015px;
}
.ILS {
    background-position: 0 -1044px;
}
.JMD {
    background-position: -49px 0;
}
.JPY {
    background-position: -49px -27px;
}
.JOD {
    background-position: -49px -55px;
}
.KES {
    background-position: -49px -82px;
}
.KWD {
    background-position: -49px -110px;
}
.LBP {
    background-position: -49px -139px;
}
.CHF {
    background-position: -49px -167px;
}
.MYR {
    background-position: -49px -195px;
}
.MUR {
    background-position: -49px -222px;
}
.MXN {
    background-position: -49px -250px;
}
.MAD {
    background-position: -49px -278px;
}
.NAD {
    background-position: -49px -306px;
}
.NPR {
    background-position: -48px -335px;
}
.XPF {
    background-position: -48px -363px;
}
.NOK {
    background-position: -49px -391px;
}
.OMR {
    background-position: -49px -420px;
}
.PKR {
    background-position: -49px -448px;
}
.PGK {
    background-position: -49px -476px;
}
.PEN {
    background-position: -49px -505px;
}
.PHP {
    background-position: -49px -533px;
}
.PLN {
    background-position: -48px -562px;
}
.QAR {
    background-position: -47px -590px;
}
.RON {
    background-position: -50px -619px;
}
.RUB {
    background-position: -50px -647px;
}
.SAR {
    background-position: -50px -675px;
}
.SGD {
    background-position: -50px -704px;
}
.ZAR {
    background-position: -50px -732px;
}
.KRW {
    background-position: -47px -760px;
}
.LKR {
    background-position: -48px -788px;
}
.SEK {
    background-position: -49px -816px;
}
.CHF {
    background-position: -49px -844px;
}
.TWD {
    background-position: -50px -872px;
}
.THB {
    background-position: -192px 0;
}
.TTD {
    background-position: -48px -900px;
}
.TND {
    background-position: -50px -928px;
}
.TRY {
    background-position: -50px -957px;
}
.UAH {
    background-position: -50px -985px;
}
.AED {
    background-position: -49px -1013px;
}
.UYU {
    background-position: -50px -1041px;
}
.VND {
    background-position: -96px -28px;
}
.GBP {
    background-position: -96px 0;
}
.COR {
    background-position: -192px 0;
}
.Euro-Zone {
    background-position: 0 0;
}
.USA {
    background-position: 0 -27px;
}
.Aland-Islands {
    background-position: -96px -84px;
}
.American-Samoa {
    background-position: -96px -112px;
}
.Andorra {
    background-position: -96px -140px;
}
.Anguilla {
    background-position: -96px -168px;
}
.Antigua-and-Barbuda {
    background-position: -96px -195px;
}
.Albania {
    background-position: -241px -644px;
}
.Argentina {
    background-position: 0 -83px;
}
.Australia {
    background-position: 0 -111px;
}
.Austria {
    background-position: -192px -112px;
}
.Azerbaijan {
    background-position: -192px -1008px;
}
.Bahamas {
    background-position: 0 -139px;
}
.Bahrain {
    background-position: 0 -166px;
}
.Bangladesh {
    background-position: 0 -196px;
}
.Barbados {
    background-position: 0 -224px;
}
.Belgium {
    background-position: -96px -251px;
}
.Belize {
    background-position: 0 -253px;
}
.Benin {
    background-position: -192px -197px;
}
.Bermuda {
    background-position: 0 -281px;
}
.Bhutan {
    background-position: -96px -279px;
}
.Bosnia-and-Herzegovina {
    background-position: -192px -225px;
}
.Botswana {
    background-position: 0 -340px;
}
.Brazil {
    background-position: 0 -367px;
}
.British-Virgin-Islands {
    background-position: -96px -307px;
}
.Brunei {
    background-position: 0 -395px;
}
.Bulgaria {
    background-position: 0 -423px;
}
.Burkina-Faso {
    background-position: -241px 0;
}
.Burundi {
    background-position: -192px -980px;
}
.Canada {
    background-position: 0 -451px;
}
.Cambodia {
    background-position: -241px -28px;
}
.Cameroon {
    background-position: -192px -254px;
}
.Cape-Verde {
    background-position: -241px -55px;
}
.Cayman-Islands {
    background-position: 0 -480px;
}
.Chad {
    background-position: -192px -281px;
}
.Chile {
    background-position: 0 -508px;
}
.China {
    background-position: 0 -536px;
}
.Christmas-Island {
    background-position: -96px -335px;
}
.Cocos-Keeling-Islands {
    background-position: -96px -362px;
}
.Cook-Islands {
    background-position: -192px -140px;
}
.Croatia {
    background-position: 0 -647px;
}
.Cyprus {
    background-position: -97px -419px;
}
.Czech-Republic {
    background-position: 0 -676px;
}
.Colombia {
    background-position: 0 -564px;
}
.Costa-Rica {
    background-position: -192px 0;
}
.Denmark {
    background-position: 0 -704px;
}
.Dominica {
    background-position: -192px -28px;
}
.Dominican-Republic {
    background-position: 0 -732px;
}
.Djibouti {
    background-position: -192px -308px;
}
.Ecuador {
    background-position: -96px -446px;
}
.Egypt {
    background-position: 0 -760px;
}
.Eastern-Caribbean {
   background-position: 0 -55px;
}
.El-Salvador {
    background-position: -96px -474px;
}
.Ethiopia {
    background-position: -241px -113px;
}
.Eritrea {
    background-position: -241px -84px;
}
.Estonia {
    background-position: -97px -499px;
}
.Equatorial-Guinea {
    background-position: -192px -336px;
}
.Faroe-Islands {
    background-position: -96px -525px;
}
.Fiji {
    background-position: 0 -788px;
}
.Finland {
    background-position: -96px -550px;
}
.France {
    background-position: -97px -577px;
}
.French-Guiana {
    background-position: -97px -577px;
}
.French-Polynesia {
    background-position: -241px -141px;
}
.Gabon {
    background-position: -192px -364px;
}
.Gambia {
    background-position: -192px -391px;
}
.Georgia {
    background-position: -192px -419px;
}
.Ghana {
    background-position: -192px -447px;
}
.Gibraltar {
    background-position: -192px -475px;
}
.Germany {
    background-position: -192px -84px;
}
.Greece {
    background-position: -97px -634px;
}
.Greenland {
    background-position: -97px -662px;
}
.Grenada {
    background-position: -97px -691px;
}
.Guam {
    background-position: -97px -719px;
}
.Guatemala {
    background-position: 0 -873px;
}
.Guinea {
    background-position: -192px -952px;
}
.Guinea-Bissau {
    background-position: -192px -503px;
}
.Guyana {
    background-position: -192px -532px;
}
.Haiti {
    background-position: -96px -775px;
}
.Hong-Kong {
    background-position: 0 -930px;
}
.Hungary {
    background-position: 0 -959px;
}
.Honduras {
    background-position: -192px -923px;
}
.Iceland {
    background-position: 0 -987px;
}
.Indonesia {
    background-position: 0 -1015px;
}
.India {
    background-position: 0 -309px;
}
.Ireland {
    background-position: -97px -803px;
}
.Israel {
    background-position: 0 -1044px;
}
.Italy {
    background-position: -192px -168px;
}
.Jamaica {
    background-position: -49px 0;
}
.Japan {
    background-position: -49px -27px;
}
.Jordan {
    background-position: -49px -55px;
}
.Kazakhstan {
    background-position: -241px -169px;
}
.Kenya {
    background-position: -49px -82px;
}
.Kiribati {
    background-position: -97px -888px;
}
.Kosovo {
    background-position: -241px -197px;
}
.Kuwait {
    background-position: -49px -110px;
}
.Latvia {
    background-position: -97px -916px;
}
.Laos {
    background-position: -241px -224px;
}
.Lebanon {
    background-position: -49px -139px;
}
.Liechtenstein {
    background-position: -97px -943px;
}
.Lithuania {
    background-position: -97px -971px;
}
.Luxembourg {
    background-position: -97px -999px;
}
.Macao {
    background-position: -192px -560px;
}
.Macedonia {
    background-position: -144px -195px;
}
.Madagascar {
    background-position: -143px -167px;
}
.Malaysia {
    background-position: -49px -195px;
}
.Malawi {
    background-position: -192px -588px;
}
.Maldives {
    background-position: -241px -252px;
}
.Mali {
    background-position: -192px -616px;
}
.Malta {
    background-position: -97px -1027px;
}
.Mauritania {
    background-position: -192px -644px;
}
.Marshall-Islands {
    background-position: -143px 0;
}
.Martinique {
    background-position: -97px -577px;
}
.Mauritius {
    background-position: -49px -222px;
}
.Mozambique {
    background-position: -192px -673px;
}
.Moldova {
    background-position: -241px -280px;
}
.Mongolia {
    background-position: -241px -308px;
}
.Mexico {
    background-position: -49px -250px;
}
.Micronesia {
    background-position: -143px -28px;
}
.Monaco {
    background-position: -143px -56px;
}
.Montenegro {
    background-position: -143px -84px;
}
.Montserrat {
    background-position: -144px -111px;
}
.Morocco {
    background-position: -241px -336px;
}
.Nepal {
    background-position: -48px -335px;
}
.Namibia {
    background-position: -49px -306px;
}
.Nauru {
    background-position: -143px -282px;
}
.Netherlands {
    background-position: -144px -309px;
}
.New-Zealand {
    background-position: 0 -592px;
}
.New-Caledonia {
    background-position: -241px -617px;
}
.Nicaragua {
    background-position: -241px -364px;
}
.Niger {
    background-position: -241px -391px;
}
.Nigeria {
    background-position: -241px -419px;
}
.Niue {
    background-position: -144px -364px;
}
.Norfolk-Island {
    background-position: -144px -391px;
}
.Northern-Mariana-Islands {
    background-position: -143px -419px;
}
.Norway {
    background-position: -49px -391px;
}
.Oman {
    background-position: -49px -420px;
}
.Pakistan {
    background-position: -49px -448px;
}
.Palau {
    background-position: -144px -446px;
}
.Paraguay {
    background-position: -192px -701px;
}
.Panama {
    background-position: -144px -474px;
}
.Peru {
    background-position: -49px -505px;
}
.Philippines {
    background-position: -49px -533px;
}
.Pitcairn {
    background-position: -143px -502px;
}
.Poland {
    background-position: -48px -562px;
}
.Portugal {
    background-position: -143px -530px;
}
.Puerto-Rico {
    background-position: -144px -558px;
}
.Papua-New-Guinea {
    background-position: -49px -476px;
}
.Qatar {
    background-position: -47px -590px;
}
.Romania {
    background-position: -50px -619px;
}
.Russia {
    background-position: -50px -647px;
}
.Rwanda {
    background-position: -192px -728px;
}
.Saint-Barthelemy {
    background-position: -144px -586px;
}
.Saint-Kitts-and-Nevis {
    background-position: -144px -611px;
}
.Saint-Lucia {
    background-position: -143px -639px;
}
.Saint-Martin-French-part {
    background-position: -144px -667px;
}
.Saint-Pierre-and-Miquelon {
    background-position: -143px -695px;
}
.Saint-Vincent-and-the-Grenadines {
    background-position: -144px -723px;
}
.Saint-Helena {
    background-position: -144px -923px;
}
.San-Marino {
    background-position: -144px -751px;
}
.Samoa {
    background-position: -241px -447px;
}
.Saudi-Arabia {
    background-position: -50px -675px;
}
.Serbia {
    background-position: -192px -755px;
}
.Senegal {
    background-position: -241px -475px;
}
.Seychelles {
    background-position: -241px -503px;
}
.Sierra-Leone {
    background-position: -192px -782px;
}
.Singapore {
    background-position: -50px -704px;
}
.Slovakia {
    background-position: -144px -779px;
}
.Slovenia {
    background-position: -144px -808px;
}
.South-Korea {
    background-position: -47px -760px;
}
.Spain {
    background-position: -143px -837px;
}
.Sri-Lanka {
    background-position: -48px -788px;
}
.South-Africa {
    background-position: -50px -732px;
}
.Suriname {
    background-position: -192px -811px;
}
.Swaziland {
    background-position: -192px -55px;
}
.Sweden {
    background-position: -49px -816px;
}
.Switzerland {
    background-position: -49px -844px;
}
.Taiwan {
    background-position: -50px -872px;
}
.Thailand {
    background-position: -192px 0;
}
.Timor-Leste {
    background-position: -144px -866px;
}
.Togo {
    background-position: -192px -839px;
}
.Tonga {
    background-position: -241px -532px;
}
.Trinidad-Tobago {
    background-position: -48px -900px;
}
.Trinidad-and-Tobago {
    background-position: -48px -900px;
}
.Tunisia {
    background-position: -50px -928px;
}
.Turkey {
    background-position: -50px -957px;
}
.Turks-and-Caicos-Islands {
    background-position: -144px -923px;
}
.Tuvalu {
    background-position: -144px -953px;
}
.Tokelau {
    background-position: -143px -894px;
}
.Uganda {
    background-position: -192px -866px;
}
.Uruguay {
    background-position: -50px -1041px;
}
.UAE {
    background-position: -143px -1013px;
}
.United-Arab-Emirates {
    background-position: -49px -1013px;
}
.Vietnam {
    background-position: -96px -28px;
}
.Virgin-Islands {
    background-position: -143px -981px;
}
.Wallis-and-Futuna {
    background-position: -240px -559px;
}
.Western-Sahara {
    background-position: -241px -588px;
}
.Zambia {
    background-position: -192px -894px;
}

	