<section class="screen_height">
  <div class="container">
    <div>
      <div class="head_blue">
        <div class="">
          <h2>today’s buy &
            sell rates</h2>
        </div>
      </div>
      <div class="white_box">
        <div class="row">
          <div class="col-md-6">
            <div class="blue-hight ">
              <h5>Country</h5>
              <div class="country blue_light">
                <h2>EURO</h2>
                <img src="img/EURO.png">
              </div>
              <div class="country blue_light">
                <h2>USA</h2>
                <img src="img/USA.png">
              </div>
              <div class="country blue_light">
                <h2>AUSTRALIA</h2>
                <img src="img/AUSTRALIA.png">
              </div>
              <div class="country blue_light">
                <h2>CANADA</h2>
                <img src="img/CANADA.png">
              </div>
              <div class="country blue_light">
                <h2>CZECH REPUBLIC</h2>
                <img src="img/CZECH REPUBLIC.png">
              </div>
              <div class="country blue_light">
                <h2>MEXICO</h2>
                <img src="img/MEXICO.png">
              </div>
              <div class="country blue_light">
                <h2>SOUTH AFRICA</h2>
                <img src="img/SOUTH AFRICA.png">
              </div>
              <div class="country blue_light">
                <h2>SWITZERLAND</h2>
                <img src="img/SWITZERLAND.png">
              </div>
              <div class="country blue_light">
                <h2>TURKEY</h2>
                <img src="img/TURKEY.png">
              </div>
              <div class="country blue_light">
                <h2>UAE</h2>
                <img src="img/UAE.png">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="blue-hight">
              <h5 class="text-center">We Buy Form You
              </h5>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="blue-hight">
              <h5 class="text-center">We Sell To Sell</h5>
              <div class="country blue_light">
                <h2 class="text-center">1.2345
                </h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345
                </h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
              <div class="country blue_light">
                <h2 class="text-center">1.2345</h2>
              </div>
            </div>
          </div>
          <p class="text-right">Rates updated daily</p>
        </div>
        <div class="box_center">
          <h3 class="text-center">sample scrolling message</h3>
        </div>
        <div class="head_blue">
          <h2 class="text-center">
            eurochange.co.uk
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>