<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Click And Close</h4>
        <button type="button" class="close" aria-label="Close" (click)="CloseModelWithLastValue()">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <input type="text" [(ngModel)]="term">
        <div class="row6">
            <div *ngFor='let v of galleryImages|filter:term' class="col-md-3 dash-item gallery">
                <img src='{{v.ImageUrl}}' id="{{v.Id}}" (click)="SelectedImage($event)" class="img-responsive {{SelectedImageView}}" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="CloseModelWithLastValue()">Close</button>
    </div>
</ng-template>

<div class="wrap2">
    <div class="container">
        <div class="col-md-12">
            <!-- <div class="back-close">
                <span class="back-icon1"><a href="javascript:history.go(-1)">
                      <svg aria-hidden="true" data-prefix="far" data-icon="arrow-left" role="img"
                          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                          class="svg-inline--fa fa-arrow-left fa-w-14 fa-2x">
                          <path fill="currentColor"
                              d="M229.9 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L94.569 282H436c6.627 0 12-5.373 12-12v-28c0-6.627-5.373-12-12-12H94.569l155.13-155.13c4.686-4.686 4.686-12.284 0-16.971L229.9 38.101c-4.686-4.686-12.284-4.686-16.971 0L3.515 247.515c-4.686 4.686-4.686 12.284 0 16.971L212.929 473.9c4.686 4.686 12.284 4.686 16.971-.001z"
                              class=""></path>
                      </svg>
                  </a></span>
                <span class="close-icon"><a href="javascript:history.go(-1)"><img src="assets/image/close.png"></a></span>
            </div> -->

        </div>
        <div class="row form1">
            <div class="col-md-12">
                <div class="">
                    <p class="form-title">{{title}}</p>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <select [ngModel]="Branch" name="Branch" (change)="onChangeDropDown($event.target.value)">
                       <option value="0">Please Select </option>
                       <option *ngFor='let v of GetBranch' value="{{v.Id}}">{{ v.BranchName }}</option>
                       </select>
                    </div>
                </div>